*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-wrap: break-word;
    font-family: 'Open sans','Manrope' 
}
/* @font-face {
    font-family: inherit;
    src: url("../fonts/font2.woff2") format('woff2');
    font-style: normal;
    font-weight: normal;
} */
:root{
    --background:#f0f2f5;
    --color:#000;
    --misc:#fa0000;
}
::selection{
    background:var(--misc);
    color:var(--color);
}
body{
    background:var(--background);
}
h1,h2,h3,h4,h5,h6{
    font-family: inherit;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: inherit;
}
P{
    font-family:inherit;
    font-size:105%;
}

#wave{
    transform: translateY(-15px);
}

.hdr{
    margin:1em auto;
    width:100%;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:column;
}
.hdr::after{
    content:" ";
    padding:2.5px;
    width:100px;
    background:var(--misc);
}
.hdr>*{
    height:100%;
}
.cover{
    width:100%;
    height:300px;
    overflow:hidden;
    background:#1c1c27;
    background-size:cover;
    border:1px solid #ccc;
    margin:auto;
    margin-top:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    color:#fff;
}
.hidden{
    display:none !important;
}
.flex{
    display: flex;
}
.dgn-socials{
    display: flex;
    margin: 10px 0;
    max-width: 200px;
}
.dgn-socials > .item{
    padding: 10px;
    text-align: center !important;
 opacity: .3;
 /* margin: auto; */
 color: #fff;
 transition: 0.4s;
 font-size: 20px;
}
.dgn-socials > .item:hover{
opacity: 1;
color: #fa0000;
}
.stubborn{
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}
.center{
    display:flex;
    margin:auto;
}
.middle{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    margin:auto;
}

.loader{
    width:100%;
    height:100%;
    background:var(--background);
    display:none;
    transition:0.4s;
    opacity:0;
}
.loader .item{
    width:70px;
    height:70px;
    display:block;
    background:var(--misc);
    border-radius:100%;
    border:1em solid var(--color);
    border-top-color:var(--misc);
    border-bottom-color:var(--misc);
    animation:rotate 2s linear infinite;
}

@keyframes rotate{
    from { transform:rotate(-1deg);  }
    to   { transform:rotate(360deg); }
}
@keyframes levitate{
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 7px); }
    to   { transform: translate(0, -0px); } 
}
@keyframes fade-show{
    from { opacity:0;}
    to   { opacity:0; }
}
.modal{
    display:none;
    flex-direction:column;
    transition:0.4s;
    opacity:0;
    padding:0.5em;
    width:auto;
    max-width:700px;
    background:#fff;
    height:auto;
    border-radius:20px;
}
.modal-text-content{
    margin-top:1em;
    padding:1em;
    border-top:1px solid #ddd;
    border-radius:20px;
}
.modal-times{
    padding:0.5em;
    font-size:x-large;
    background:#000;
    color:#eee;
    border-radius:20px;
    width:auto;
    margin-left:auto;
}
.overlay{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.397);
    transition:0.4s;
    opacity:0;
    display:none;
}

.push-notif{
    bottom:1em;
    right:1em;
    position:fixed;
    height:80px;
    width:300px;
    border-right:3px solid var(--misc);
    border-radius:20px 0px 20px 20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:2em;
    overflow:hidden;
    background:#fff;
    transition:0.4s;
    opacity:0;
    display:none;
}
.push-notif h4{
    font-weight:bold;
    font-variant-caps: all-small-caps;
    border-bottom:2px solid var(--misc);
    width:auto;
    margin-right:auto;
    padding-bottom:5px;
}

[class$="-button"]{
    padding:0.5em;
    color:#fff;
    border:1px solid var(--misc);
    background:var(--misc);
    margin:5px;
    transition:0.4s;
    outline:none;
}
.primary-button, .secondary-button{
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: inherit;
  cursor: pointer;
}
.secondary-button{
border:none;
background-color: transparent;
}

.secondary-button:hover, .primary-button:hover{
    background-color: transparent;
    color: #fa0000;
}

.right{
    text-align:right;
    width:100%;
    padding:0 0.7em;
    font-size:large;
}