.dgn-logo{

    padding:5px;
    min-width:70px;
    height:70px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:0px 0px 20px 0px;
}
.dgn-label{
    padding:0.5em;
    background:var(--misc);
    font-size:x-small;
}
.dgn-logo p{
    color:#fff;
    font-family:inherit;
    font-size:105%;
}
.dgn-logo span{
    margin:auto;
    color:var(--misc);
    display:flex;
    align-items:center;
    justify-content: center;
    padding:0.5em;
    border-radius:100%;
    overflow:hidden;
}
.dgn-header{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 6px 20px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 10;
    background:transparent;
    transition: 0.7s;
}
.dgn-navigator-toggler .fa{
    font-size: 25px !important;
}

.dgn-header.active{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background:#1c1c2771;
}

.dgn-header .fa-times{
    font-size: 25px;
}

.dgn-navigator{
    width:auto;
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.dgn-navigator button{
    border:none;
}
.dgn-navigator-toggler{
    display: flex;
    justify-content: center;
    align-items: center;


}
.dgn-navigator-toggler button{
    border:none;
}
.dgn-navigator .item{
    margin:10px;
    color:#fff;
    font-size: 14px;
}
.dgn-menu{
    width:200px;
    position:fixed;
    top:50%;
    left:0;
    background:#2b2c3d;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    z-index:5;
    overflow:hidden;
    padding:0.5em;
    transition:0.4s;
    transform:translateX(-100vw) translateY(-50%);
}
.dgn-menu .item{
    padding:1em;
    width:100%;
    font-size:105%;
    color:#ccc;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    border-bottom:1px solid #aaa;
    text-decoration:none;
    transition:0.4s;
}
.dgn-menu .item:hover{
   background:var(--misc);
}
.nav-toggler{
    top:5em;
    left:1em;
    display: none !important;
    color:#fff;
    z-index:0 !important;
    background:#f00000;
    position:fixed;
    padding:0.5em 1em;
    width:70px;
    font-size:120%;
    transition:0.4s;
    border-radius:0px 20px 20px 0px;
    text-align:center;
}
.nav-toggler:hover{
    background:#000;
}
.dgn-content{
    padding:0;
    margin:0;
}
.dgn-body{
    padding:1em;
}
.dgn-hero{
    position:relative;
    /* overflow:hidden; */
    padding:2.5em 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient( rgba(28, 28, 39, 0.99), #000000), url('../img/IMG_20210510_224706.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height:70vh;
}

.dgn-hero img{
    display: inline-block;
max-width:700px;
width: 50%;
}
.dgn-hero .hero-meta{
  transform: translateY(-50px) !important;
}
.cta-header{
    margin: 0 30px;
}
.btn{
    padding: 10px;
    color: #000;
    font-weight: bold;
    transition: 0.4s;
    font-size: 14px;
}

.btn-pr{
background-color: #eee;
}
.btn-o{
color: #fff;
}


.dgn-hero .heading{
font-size: 4rem !important;
}

.dgn-hero .heading > span{
color: #f00000;
}

.dgn-hero .tagline{
padding: 10px ;
}


.hero-img{
    position: relative;
    width:calc(800px - 100%);
  
    animation:levitate 4s infinite;
    
}
.hero-img img{
    /* height:100%; */
    width:inherit;
    margin:auto;
}
.hero-meta{
    display:flex;
    flex-direction:column;
    margin:auto;
    height:90%;
    width:100%;
    width:50%;
    color:#fff;
}
.hero-meta-description{
    display: flex;
    flex-direction: column;
    padding:0.5em;
    text-align:left 
}
.hero-meta-description a{
    color:#fff;
    display:list-item;
    font-family: inherit;
}
.dgn-navigator-toggler, .dgn-navigator .right{
    display:none; 
}
.body-item{
    width:100%;
    max-width:1000px;
    margin:auto;
    border-top:1px solid #1c1c2713;
    overflow:hidden;
    height:auto;
    margin:2em auto;
    padding:1em;
}
.body-item .cards{
    padding:0.5em;
}
.body-item .card{
    margin-bottom:0.5em;
}
.body-item .primary-button:hover{
    color:#000;
}
.dgn-footer{
    width:100%;
    bottom:0;
    background:linear-gradient( #1c1c27, #000000);
    color:rgba(170, 170, 170, 0.63);
    padding:2em 0.5em;
    padding-top:3em;
    display:flex !important;
}
.dgn-footer .footer-item{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
align-items: center;
}

.dgn-footer .footer-elements{
display: flex;
justify-content: space-around;
flex-flow:row wrap;
align-items: center;
}

.dgn-footer .footer-elements > *{
margin:0 30px ;
padding: 30px 0;
}


.dgn-footer *{
    position: inherit !important;
    transform:inherit !important;
}
.dgn-footer hr{
    width:100%;
    border-color:rgba(255, 255, 255, 0.048);

}
.footer-elements{
    padding-bottom:40px;
}
.logo-item{
    height:100px;
}
/* @media (max-width:990px){
    .dgn-menu{
        transform:translateX(-100vw) translateY(-50%);
    }
} */
@media screen and (max-width:878px){
   
    .dgn-hero .hero-meta{
       width: 100vw;
       margin: auto;
       text-align: center;
       /* background-color: #fff; */
    }
    .dgn-hero .heading{
        font-size: 3.3rem !important;
        padding: 0 15px;
    }


}
@media screen and (max-width:400px){
   
    .dgn-hero .heading{
        font-size: 3rem !important;
        padding: 0 15px;
    }


}

@media screen and (max-width:980px){

  .dgn-hero {
        text-align: center;
    }
    .dgn-socials{
        margin: 10px auto
    }
    .hero-meta-description{
 text-align: center;
    }

    .hero-meta-description a{
        color:#fff;
        display:block;
    }
    
    .dgn-navigator{
        width:100%;
        height:100%;
        top: 0;
        left:0;
        position: fixed;
        justify-content: flex-start;
        flex-direction:column;
        z-index:30;
        opacity:0;
        display:none;
        transition:0.4s;
        background:#1c1c27;
    }
   
    .dgn-navigator .item{
        width:100%;
        padding:5px;
    }

    .dgn-header .cta-header{
        margin:20px 0 ;
    
    }

    .dgn-navigator.opened{
        position: fixed;
        top:0;
        height:100vh;
        text-align: left;
    }

    .dgn-navigator-toggler, .dgn-navigator .right{
        display:block; 
    }
  
  .dgn-header {
      position: absolute;
    }
    .dgn-hero .heading{
        font-size: var(3rem - 100%);
    }

    .dgn-hero img{
position: absolute;
width: 100%;
opacity: .1;
    }
    .dgn-hero .hero-meta{
      transform: translateY(50px) !important;
    }

}